@model cloudscribe.Pagination.Models.PagedResult<CocktailViewModel>


@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Cocktails";
    ViewData["Action"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cocktails</h1>
@if (User.IsInRole("cocktail magician"))
{
    @*<p>
        <a asp-action="CreateCocktail" class="btn btn-warning">Create New</a>
    </p>*@
    @await Component.InvokeAsync("CreateCocktail")
}

<form asp-action="Search" method="get">
    <div>
        <p>
            <input type="text" name="searchString" value="" />
            <input type="submit" value="Search" class="btn btn-info" /> |
            <a asp-action="List">Remove Filter</a>

        </p>
    </div>
</form>
<div class="row">
    @foreach (var cocktail in Model.Data)
    {<div class="col-sm-3 col-lg-3 col-md-3">
            <div class="thumbnail">
                <img src="@cocktail.ImageUrl" alt="" width="200" height="320">
                <div class="caption">
                    <h3>
                        <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">@cocktail.Name</a>
                    </h3>
                    <p>@cocktail.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</div>
<partial name="_PeginationPartial" view-data="ViewData" model="Model" />